*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: black;
}
.b1{
    width: 85%;
    height: 1000px;
    /* border: 1px solid red; */
    margin-top: 3rem;
    box-shadow: 0 5px 30px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-bottom: 3rem;
}
.headingA{
    color: #00FF7F;
    font-size: 4rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.heading1{
   font-size: 3rem;
   padding: 2rem;
   color: white;
   padding-top: 0;
}
.para1{
    font-size: 1.3rem;
    padding-left: 2rem;
    width: 900px;
    color: white;
}
.heading2{
    font-size: 3rem;
    padding-left: 2rem;
    color: white;
    padding-top: 2rem;
}
.Ulist .l1{
    color: white;
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 1.3rem;
    padding-right: 1rem;
}
#cs2{
    color: #1E90FF;
}
#cs3{
    color: #FFD700;
}
#cs4{
    color: #00FF7F;
}
#cs5{
    color: #1E90FF;
}
#cs6{
    color: #FFD700;
}
#cs7{
    color: #00FF7F;
}
#cs8{
    color: #1E90FF;
}
@media (max-width:1080px){
     .headingA{
        font-size: 3rem;
     }
     .heading1{
        font-size: 2rem;
     }
     .heading2{
        font-size: 2rem;
     }
     .para1{
        font-size: 1rem;
     }
     .para2 ul li{
        font-size: 1rem;
     }
}
@media (max-width:1060px){
    .para1{
        width: 800px;
    }
}
@media (max-width:960px){
    .para1{
        width: 700px;
    }
}
@media (max-width:840px){
    .para1{
        width: 600px;
    }
}
@media (max-width:730px){
    .para1{
        width: 500px;
    }
}
@media (max-width:620px){
    .para1{
        width: 400px;
    }
}
@media (max-width:500px){
    .para1{
        width: 300px;
    }
}
@media (max-width:660px){
    .b1{
        height: 1200px;
    }
}
@media (max-width:510px){
    .b1{
        height: 1300px;
    }
}
@media (max-width:430px){
    .b1{
        height: 1400px;
    }
}
@media (max-width:375px){
    .b1{
        height: 1500px;
    }
}
@media (max-width:340px){
    .b1{
        height: 1600px;
    }
}
@media (max-width: 768px){
    .cosmic_div h1{
        font-size: 2rem;
    }
}
@media (max-width:380px){
    .para1{
        width: 230px;
    }
}
@media (max-width: 470px){
    .b1{
        padding: 0;
        box-shadow: none;
    }
}


